@charset "UTF-8";
/**Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/**Обнуление стилей*/
body {
  font-family: Roboto, sans-serif;
  background: #ffffff;
  color: #000000;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
}

.container {
  position: relative;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #016b45;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #013824;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.black {
  background-color: #000000;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.black:hover {
  background-color: #666666;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.modal {
  background-color: #ffffff;
  font-size: 14px;
  color: #000000;
  border: 1px solid #016b45;
  border-radius: 7px;
}

.btn.modal:hover {
  background-color: #016b45;
  color: #ffffff;
}

.section__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.5;
  color: #000000;
}

.section__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #016b45;
}

.section__num {
  display: inline-block;
  font-weight: 700;
  font-size: 400px;
  color: rgba(0, 0, 0, 0.1);
}

.section__num-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.5;
  text-transform: uppercase;
}

.section__num-subtitle {
  display: block;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
}

.section__num-descr {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.5);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #ffffff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  background-color: #fff;
  position: relative;
  z-index: 5;
  width: 146px;
  height: 40px;
}

.header__logo > img {
  width: 146px;
  height: 40px;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__list > li {
  position: relative;
  margin: 0px 0px 0px 25px;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

.tab__btn--subtitle {
  font-size: 13px;
  color: #1b242d80;
}

.menu__link {
  color: #fff;
  font-size: 16px;
}

.menu__link:hover {
  text-decoration: underline;
}

.tabs__body {
  background-color: #1b242d;
  min-height: 70px;
}

.tabs__content {
  display: none;
  position: relative;
}

.tabs__triangle--1 {
  position: absolute;
  top: -10px;
  left: 24%;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 10px solid #1b242d;
}

.tabs__triangle--2 {
  position: absolute;
  top: -10px;
  left: 51%;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 10px solid #1b242d;
}

.menu__list > li.tab__btn--active {
  color: #016b45;
}

.tabs__content--active {
  display: block;
}

details {
  display: none;
}

/* ----------------------- */
@media (min-width: 992px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list > li {
    padding: 10px 0;
  }
}

@media (max-width: 992px) {
  .tabs__body,
  .menu__body--btn,
  .menu__list.tabs {
    display: none;
  }
  details {
    display: block;
    background-color: #1b242d;
    margin: 0 0 10px 0;
    padding: 20px 5px 20px 10px;
  }
  summary {
    font-size: 18px;
    color: #00ad6f;
  }
  summary::marker {
    color: #fff;
    font-size: 20px;
  }
  .tab__btn--subtitle {
    color: #ffffff;
    margin: 0 0 0 20px;
  }
  .menu__list.mobile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #000000;
    margin: 20px -20px -20px -20px;
    padding: 20px 20px 20px 40px;
  }
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    height: 15%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #016b45;
  }
  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 0;
  }
  .menu__icon::after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    bottom: 48%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: #000000;
    padding: 70px 0px 30px 0px;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    background-color: #ffffff;
    z-index: 2;
  }
  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px 0px 30px 0px;
  }
  .menu__list > li:last-child {
    margin-bottom: 0;
  }
  .menu__list > li._active .menu__sub-list {
    display: block;
  }
  .menu__link {
    font-size: 14px;
  }
  .menu__sub-list {
    position: relative;
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 20px 0px 0px 0px;
    display: none;
  }
  .menu__sub-link {
    font-size: 20px;
    color: #000;
  }
}

@media (max-width: 576px) {
  summary {
    font-size: 14px;
  }
  .tab__btn--subtitle {
    font-size: 12px;
  }
}

.offer {
  background: url("../images/sec1/banner.jpg") 0 0/contain no-repeat;
  height: 38vw;
  margin: 140px 0px 0px 0px;
  padding: 4vw 0px 0px 0px;
}

.offer__container {
  height: 100%;
}

.offer__subtitle {
  display: inline-block;
  font-weight: 400;
  color: #ffffff80;
  margin: 0px 0px 20px 0px;
}

.offer__title {
  max-width: 500px;
  font-size: 48px;
  font-weight: 700;
  line-height: 54px;
  color: #fff;
  margin: 0px 0px 20px 0px;
}

.offer__descr {
  display: inline-block;
  max-width: 522px;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
}

.offer__btn {
  position: absolute;
  left: 0;
  bottom: -58px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 50px;
  background: #1b242d;
  border: 1px solid #000000;
  -webkit-box-shadow: inset 0px 2px 1px rgba(153, 153, 153, 0.25);
          box-shadow: inset 0px 2px 1px rgba(153, 153, 153, 0.25);
}

.offer__call > .offer__call-link {
  font-size: 20px;
}

@media (max-width: 992px) {
  .offer {
    margin: 70px 0px 0px 0px;
    padding: 3vw 0px 0px 0px;
  }
  .offer__subtitle {
    font-size: 18px;
    line-height: 24px;
    max-width: 250px;
    margin: 0px 0px 10px 0px;
  }
  .offer__title {
    font-size: 40px;
    line-height: 48px;
    max-width: 380px;
    margin: 0px 0px 10px 0px;
  }
  .offer__descr {
    font-size: 18px;
    line-height: 24px;
    max-width: 355px;
  }
  .offer__btn {
    bottom: -108px;
  }
  .offer__demo-link {
    font-size: 16px;
  }
  .offer__call > .offer__call-link {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: url("../images/sec1/banner.jpg") 0 0/cover no-repeat;
    padding: 2vw 0px 0px 0px;
  }
  .offer__subtitle {
    font-size: 14px;
    line-height: 20px;
    max-width: 250px;
    margin: 0px 0px 10px 0px;
  }
  .offer__title {
    font-size: 24px;
    line-height: 30px;
    max-width: 300px;
    margin: 0px 0px 10px 0px;
  }
  .offer__descr {
    font-size: 12px;
    line-height: 14px;
    max-width: 300px;
  }
  .offer__btn {
    padding: 20px 10px;
    bottom: -80px;
  }
  .offer__demo-link {
    font-size: 13px;
  }
  .offer__call > .offer__call-link {
    font-size: 13px;
  }
}

@media (max-width: 576px) {
  .offer {
    background: url("../images/sec1/banner.jpg") 48% 10%/cover no-repeat;
    height: 227px;
  }
  .offer__subtitle {
    display: none;
  }
  .offer__title {
    max-width: 210px;
  }
  .offer__descr {
    max-width: 195px;
  }
  .offer__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: -130px;
  }
  .offer__call {
    margin: 0px 0px 10px 0px;
  }
}

.lk-browser {
  padding: 120px 0px 50px 0px;
}

.lk-browser__title {
  text-align: center;
  line-height: 1;
  margin: 0 0 15px 0;
}

.lk-browser__subtitle {
  text-align: center;
  margin: 0 0 50px 0;
}

.lk-browser__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__item {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  height: 325px;
  overflow: hidden;
  margin: 0 0 6px 0;
  border-radius: 6px;
}

.content__item.item-1 {
  background: url("../images/sec2/box_1.jpg") 50% 50%/cover no-repeat;
}

.content__item.item-2 {
  background: url("../images/sec2/box_2.jpg") 50% 50%/cover no-repeat;
}

.content__item.item-3 {
  background: url("../images/sec2/box_3.jpg") 50% 50%/cover no-repeat;
}

.content__item.item-4 {
  background: url("../images/sec2/box_4.jpg") 50% 50%/cover no-repeat;
}

.content__item.item-5 {
  background: url("../images/sec2/box_5.jpg") 50% 50%/cover no-repeat;
}

.content__item.item-6 {
  background: url("../images/sec2/box_6.jpg") 50% 50%/cover no-repeat;
}

.item__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.item__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding: 10px 0;
  background: rgba(27, 36, 45, 0.75);
  border-radius: 6px;
}

@media (max-width: 992px) {
  .content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 49.5%;
            flex: 0 1 49.5%;
  }
  .lk-browser__title {
    font-size: 48px;
  }
  .item__text {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .lk-browser {
    padding: 150px 0px 50px 0px;
  }
  .lk-browser__title {
    font-size: 30px;
  }
  .lk-browser__subtitle {
    font-size: 18px;
    margin: 0 0 20px 0;
  }
  .content__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.footer {
  background: #1b242d;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0px;
}

.footer__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.footer__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #8d9196;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 10px 0px 0px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.social__icon-img {
  height: 20px;
}

.social__icon:last-child {
  margin: 0px 0px 0px 0px;
}

.social__icon:hover {
  background: #c2c4c7;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 576px) {
  .footer__body {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .footer__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 15px 0px;
  }
  .footer__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.control {
  background: url("../images/sec4/control_bg.png") 50% 50%/cover no-repeat;
  padding: 80px 0px 170px 0px;
}

.control__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 54px;
  text-align: center;
  color: #ffffff;
  max-width: 1000px;
  margin: 0 auto 70px auto;
}

.control__carrier {
  margin: 0px 0px 80px 0px;
}

.control__block-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.control__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.control__item-img {
  display: block;
  width: 129px;
  height: 129px;
  margin: 0px 0px 20px 0px;
}

.control__item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
}

.carrier__block-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.carrier__block-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% / 6);
          flex: 0 1 calc(100% / 6);
}

.customer__block-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer__block-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% / 5);
          flex: 0 1 calc(100% / 5);
}

@media (max-width: 992px) {
  .control {
    padding: 80px 0px 150px 0px;
  }
  .control__title {
    font-size: 40px;
    line-height: 48px;
    max-width: 730px;
  }
  .carrier__block-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 3);
            flex: 0 1 calc(100% / 3);
    margin: 0px 0px 70px 0px;
  }
  .customer__block-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 3);
            flex: 0 1 calc(100% / 3);
    margin: 0px 0px 70px 0px;
  }
}

@media (max-width: 576px) {
  .control {
    padding: 40px 0px 150px 0px;
  }
  .control__title {
    font-size: 30px;
    line-height: 36px;
    max-width: 730px;
    margin: 0 auto 30px auto;
  }
  .control__item-text {
    font-size: 14px;
    line-height: 16px;
  }
  .control__carrier {
    margin: 0px 0px 30px 0px;
  }
  .carrier__block-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 2);
            flex: 0 1 calc(100% / 2);
    margin: 0px 0px 30px 0px;
  }
  .customer__block-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 2);
            flex: 0 1 calc(100% / 2);
    margin: 0px 0px 30px 0px;
  }
}

.work-chapter {
  background: url("../images/sec3/bg_work.png") 100% 0/contain no-repeat;
  height: 42vw;
  padding: 7vw 0px 0px 0px;
}

.work__title {
  font-size: 48px;
  line-height: 52px;
  max-width: 600px;
  margin: 0px 0px 3vw 0px;
}

.work__item-subtitle {
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #016b45;
  max-width: 600px;
  margin: 0px 0px 2vw 0px;
}

.work__item-images {
  display: none;
}

.work__item-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  margin: 0px 0px 1vw 0px;
}

.work__item-list > li > img {
  margin: 0px 20px 0px 0px;
}

@media (max-width: 992px) {
  .work-chapter {
    background: none;
    height: auto;
    padding: 0px 0px 0px 0px;
  }
  .work-chapter__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .work__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .work__item-images {
    display: block;
  }
  .work__item-img {
    width: 100%;
  }
  .work__item-subtitle {
    font-size: 30px;
    font-weight: 36px;
  }
  .work__title {
    font-size: 40px;
  }
}

@media (max-width: 576px) {
  .work__item-subtitle {
    font-size: 18px;
    line-height: 20px;
  }
  .work__item-list > li {
    font-size: 20px;
    line-height: 1;
    margin: 0px 0px 10px 0px;
  }
  .work__title {
    font-size: 30px;
    line-height: 1;
  }
}

.browser-chapter-1 {
  background: url(../images/wb_bg/WB_chapter_1.jpg) 0 0/cover no-repeat;
  height: 92vw;
}

@media (max-width: 768px) {
  .browser-chapter-1 {
    background: url(../images/wb_768/WB_chapter_11.png) 0 0/cover no-repeat;
    height: 327vw;
  }
}

.browser-chapter-2 {
  background: url(../images/wb_bg/WB_chapter_2.jpg) 0 0/cover no-repeat;
  height: 100vw;
}

@media (max-width: 768px) {
  .browser-chapter-2 {
    background: url(../images/wb_768/WB_chapter_12.jpg) 0 0/cover no-repeat;
    height: 312vw;
  }
}

.browser-chapter-3 {
  background: url(../images/wb_bg/WB_chapter_3.png) 0 0/cover no-repeat;
  height: 65.5vw;
  margin: -13.5vw 0px 0px 0px;
}

@media (max-width: 768px) {
  .browser-chapter-3 {
    background: url(../images/wb_768/WB_chapter_13.jpg) 0 0/cover no-repeat;
    height: 222vw;
    margin: 0;
  }
}

.browser-chapter-4 {
  background: url(../images/wb_bg/WB_chapter_4.jpg) 0 0/cover no-repeat;
  height: 32vw;
}

@media (max-width: 768px) {
  .browser-chapter-4 {
    background: url(../images/wb_768/WB_chapter_14.jpg) 0 0/cover no-repeat;
    height: 115vw;
  }
}

.browser-chapter-5 {
  background: url(../images/wb_bg/WB_chapter_5.jpg) 0 0/cover no-repeat;
  height: 49.7vw;
}

@media (max-width: 768px) {
  .browser-chapter-5 {
    background: url(../images/wb_768/WB_chapter_15.jpg) 0 0/cover no-repeat;
    height: 135vw;
  }
}

.browser-chapter-6 {
  background: url(../images/wb_bg/WB_chapter_6.png) 0 0/cover no-repeat;
  height: 52vw;
  margin: -10vw 0px 0px 0px;
}

@media (max-width: 768px) {
  .browser-chapter-6 {
    background: url(../images/wb_768/WB_chapter_16.jpg) 0 0/cover no-repeat;
    height: 138vw;
    margin: 0;
  }
}

.profit__body-carrier {
  background-color: #434442;
  text-align: center;
  padding: 100px 0px 50px 0px;
}

.profit__body-customer {
  background-color: #2e2e2e;
  text-align: center;
  padding: 100px 0px 100px 0px;
}

.profit__title {
  color: #fff;
  margin: 0px 0px 40px 0px;
}

.profit__subtitle {
  display: inline-block;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0px 0px 50px 0px;
}

.profit__body-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profit__body-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 10px 0px 0px;
  margin: 0px 0px 50px 0px;
}

.profit__body-item > span {
  text-align: left;
}

.profit__item-img {
  width: 80px;
  height: 80px;
  margin: 0px 0px 30px 0px;
}

.profit__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 0px 0px 20px 0px;
}

.profit__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffffbf;
}

.profit__item-link {
  text-align: left;
  color: #ffffffbf;
  text-decoration: underline;
}

.profit__btn {
  margin: 0px 0px 60px 0px;
}

.profit__download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profit__download-img {
  width: 64px;
  height: 64px;
  margin: 0px 20px 0px 0px;
}

.profit__download-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  max-width: 350px;
  text-align: left;
}

.profit__download-link:hover {
  text-decoration: underline;
}

.carrier__body-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% / 4);
          flex: 0 1 calc(100% / 4);
}

.customer__body-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% / 5);
          flex: 0 1 calc(100% / 5);
  margin: 0px 0px 60px 0px;
}

@media (max-width: 992px) {
  .carrier__body-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 3);
            flex: 0 1 calc(100% / 3);
  }
  .customer__body-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 3);
            flex: 0 1 calc(100% / 3);
  }
}

@media (max-width: 786px) {
  .profit__body-carrier {
    padding: 50px 0px 0px 0px;
  }
  .profit__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .carrier__body-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 2);
            flex: 0 1 calc(100% / 2);
  }
  .customer__body-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 calc(100% / 2);
            flex: 0 1 calc(100% / 2);
  }
}

@media (max-width: 576px) {
  .profit__body-item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .profit__body-item > span {
    text-align: center;
  }
  .profit__title {
    font-size: 24px;
    line-height: 1.1;
  }
  .profit__subtitle {
    font-size: 18px;
  }
  .profit__item-link {
    text-align: center;
  }
  .profit__download-link {
    font-size: 12px;
    line-height: 14px;
  }
  .profit__link {
    font-size: 14px;
    line-height: 24px;
  }
  .carrier__body-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .customer__body-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

.call {
  background: url(../images/form/form_bg.jpg) 0 0/cover no-repeat;
  padding: 80px 0px;
}

.call__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.form__title {
  display: block;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 15px 0px;
}

.form__subtitle {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0px 0px 25px 0px;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin: 0px 0px 15px 0px;
}

.form__input {
  width: 100%;
  background: #ffffff;
  border: 2px solid #b7bfc3;
  border-radius: 4px;
  padding: 10px 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 992px) {
  .form__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 32%;
            flex: 0 1 32%;
    margin: 0px 0px 30px 0px;
  }
  .form__button {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .call {
    padding: 50px 0px;
  }
  .call__form {
    max-width: 420px;
    margin: 0 auto;
  }
  .form__title {
    max-width: 430px;
    font-size: 30px;
    line-height: 36px;
    margin: 0px auto 10px auto;
  }
  .form__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0px 0px 20px 0px;
  }
  .form__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 576px) {
  .form__title {
    font-size: 20px;
    line-height: 23px;
  }
}

.lk-1c {
  padding: 110px 0px 50px 0px;
  text-align: center;
}

.lk-1c__title {
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.lk-1c__subtitle {
  display: inline-block;
  margin: 0px 0px 70px 0px;
}

.lk-1c__info {
  padding: 0 80px;
  margin: 0px 0px 80px 0px;
}

.lk-1c__info-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.lk-1c__func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.lk-1c__func-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(100% / 4);
          flex: 0 1 calc(100% / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

.info-item__icon {
  margin: 0px 30px 0px 0px;
}

.info-item__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #000000bf;
  text-align: left;
}

.func-item__img {
  width: 129px;
  height: 129px;
  margin: 0px 0px 20px 0px;
}

.func-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0px 0px 10px 0px;
}

.func-item__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000bf;
}

.slider_1 {
  width: 100%;
  height: auto;
  margin: 0px 0px 40px 0px;
}

.slider_1 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 2px solid #016b45;
  background-color: #fff;
  opacity: 1;
}

.slider_1 .swiper-pagination-bullet-active {
  background-color: #016b45;
}

.slider_1 .swiper-pagination-horizontal {
  bottom: 0;
}

.swiper-slide__image-img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .lk-1c__info {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .lk-1c {
    padding: 50px 0px 50px 0px;
  }
  .lk-1c__title {
    font-size: 48px;
    line-height: 54px;
  }
  .lk-1c__func-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 20px 0px;
  }
  .info-item__icon {
    width: 40px;
    height: 40px;
  }
  .info-item__text {
    font-size: 18px;
    line-height: 24px;
  }
  .slider_1 .swiper-pagination-horizontal {
    bottom: -10px;
    height: 22px;
  }
  .slider_1 {
    height: 60vw;
  }
}

@media (max-width: 576px) {
  .lk-1c__title {
    font-size: 30px;
    line-height: 35px;
  }
  .lk-1c_subtitle {
    font-size: 18px;
    line-height: 21px;
  }
  .lk-1c__info-title {
    font-size: 24px;
    line-height: 28px;
  }
  .lk-1c__func-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
  .info-item__text {
    font-size: 14px;
    line-height: 18px;
  }
}

.lk1c-chapter-1 {
  background: url(../images/1C_bg/1cWB_chapter_1.jpg) 0 0/cover no-repeat;
  height: 55vw;
}

@media (max-width: 768px) {
  .lk1c-chapter-1 {
    background: url(../images/1C_bg_768/1cWB_chapter_11.jpg) 0 0/cover no-repeat;
    height: 243vw;
  }
}

.lk1c__slider-2 {
  padding: 80px 0px 0px 0px;
}

.mySwiper {
  height: auto;
  margin: 0px 0px 45px 0px;
}

.mySwiper .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.mySwiper .swiper-slide {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 240px !important;
  height: 40px;
  border: 1px solid #016b45;
  border-radius: 7px;
  margin: 0px 0px 10px 0px;
  opacity: 1;
  cursor: pointer;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 0.8;
  background: #f0f0f0;
}

.mySwiper .slide__text {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #000000bf;
}

/*--------------Slider2-----------*/
.mySwiper2 {
  height: auto;
  width: 98%;
  margin: 0px auto 30px auto;
}

.mySwiper2 img {
  width: 100%;
}

.slide__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide__content-title {
  display: inline-block;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin: 0px 0px 10px 0px;
}

.slide__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.slide__content-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.mySwiper2 .slide__content-bg {
  width: 80%;
}

.my__navigation {
  position: relative;
  text-align: center;
  max-width: 300px;
  height: auto;
  margin: 50px auto 50px auto;
}

.my-button-next,
.my-button-prev {
  display: inline-block;
  font-size: 55px;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
}

.my-button-next {
  top: -25px;
  right: 0;
}

.my-button-prev {
  top: -25px;
  left: 0;
}

.my-button-prev.swiper-button-disabled,
.my-button-next.swiper-button-disabled {
  opacity: 0.5;
}

.my__pagin .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  line-height: 20px;
  font-size: 14px;
  background-color: #fff;
  border: 2px solid #016b45;
  opacity: 1;
}

.my__pagin .swiper-pagination-bullet-active {
  background-color: #016b45;
}

@media (max-width: 992px) {
  .mySwiper .swiper-slide {
    width: 200px !important;
  }
  .slide__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 40px 0px;
  }
  .slide__content-text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 576px) {
  .mySwiper .slide__text {
    font-size: 10px;
    line-height: 16px;
  }
  .mySwiper .swiper-slide {
    width: 140px !important;
    height: 30px;
  }
  .slide__content-title {
    font-size: 24px;
    line-height: 30px;
  }
}
