@charset "UTF-8";
/**Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/**Обнуление стилей*/
body {
  font-family: Roboto, sans-serif;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #016b45;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #013824;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.black {
  background-color: #000000;
  border-radius: 6px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btn.black:hover {
  background-color: #666666;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.section__num {
  font-weight: 700;
  font-size: 400px;
  color: rgba(0, 0, 0, 0.1);
}

.section__title {
  font-weight: 700;
  font-size: 54px;
  line-height: 1.5;
  color: #000000;
}

.section__title._sub-descr {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #016b45;
}

.num-section__title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #000000;
}

.num-section__title._subtitle {
  text-transform: capitalize;
}
