.browser-chapter-5 {
   background: url(../images/wb_bg/WB_chapter_5.jpg) 0 0 / cover no-repeat;
   height: 49.7vw;
}
@media (max-width: 768px) {
   .browser-chapter-5 {
      background: url(../images/wb_768/WB_chapter_15.jpg) 0 0 / cover no-repeat;
      height: 135vw;
   }
}
