.browser-chapter-1 {
   background: url(../images/wb_bg/WB_chapter_1.jpg) 0 0 / cover no-repeat;
   height: 92vw;
}
@media (max-width: 768px) {
   .browser-chapter-1 {
      background: url(../images/wb_768/WB_chapter_11.png) 0 0 / cover no-repeat;
      height: 327vw;
   }
}
