.lk-browser {
   padding: 120px 0px 0px 0px;
   &__title {
      text-align: center;
      line-height: 1;
      margin: 0 0 15px 0;
   }
   &__subtitle {
      text-align: center;
      margin: 0 0 50px 0;
   }
   &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }
}
.content__item {
   position: relative;
   flex: 0 1 33%;
   height: 325px;
   overflow: hidden;
   margin: 0 0 6px 0;
   border-radius: 6px;
   &.item-1 {
      background: url(/images/sec2/box_1.jpg) 50% 50% / cover no-repeat;
   }
   &.item-2 {
      background: url(/images/sec2/box_2.jpg) 50% 50% / cover no-repeat;
   }
   &.item-3 {
      background: url(/images/sec2/box_3.jpg) 50% 50% / cover no-repeat;
   }
   &.item-4 {
      background: url(/images/sec2/box_4.jpg) 50% 50% / cover no-repeat;
   }
   &.item-5 {
      background: url(/images/sec2/box_5.jpg) 50% 50% / cover no-repeat;
   }
   &.item-6 {
      background: url(/images/sec2/box_6.jpg) 50% 50% / cover no-repeat;
   }
}
.item {
   &__img {
      object-fit: cover;
   }
   &__text {
      position: absolute;
      bottom: 0;
      width: 100%;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      text-transform: uppercase;
      color: #ffffff;
      padding: 10px 0;
      background: rgba(27, 36, 45, 0.75);
      border-radius: 6px;
   }
}

@media (max-width: 992px) {
   .content__item {
      flex: 0 1 49.5%;
   }
   .lk-browser__title {
      font-size: 48px;
   }
   .item__text {
      font-size: 12px;
   }
}

@media (max-width: 576px) {
   .lk-browser {
      padding: 150px 0px 0px 0px;
      &__title {
         font-size: 30px;
      }
      &__subtitle {
         font-size: 18px;
         margin: 0 0 20px 0;
      }
   }
   .content__item {
      flex: 0 1 100%;
   }
}
