.lk1c-chapter-2 {
   background: url(../images/1C_bg/1cWB_chapter_2.jpg) 0 0 / cover no-repeat;
   height: 41vw;
}
@media (max-width: 768px) {
   .lk1c-chapter-2 {
      background: url(../images/1C_bg_768/1cWB_chapter_12.jpg) 0 0 / cover no-repeat;
      height: 159vw;
   }
}
