.lk1c-chapter-6 {
   background: url(../images/1C_bg/1cWB_chapter_6.jpg) 0 0 / cover no-repeat;
   height: 36vw;
}
@media (max-width: 768px) {
   .lk1c-chapter-6 {
      background: url(../images/1C_bg_768/1cWB_chapter_16.jpg) 0 0 / cover no-repeat;
      height: 108vw;
   }
}
