.lk1c-chapter-5 {
   background: url(../images/1C_bg/1cWB_chapter_5.jpg) 0 0 / cover no-repeat;
   height: 73vw;
}
@media (max-width: 768px) {
   .lk1c-chapter-5 {
      background: url(../images/1C_bg_768/1cWB_chapter_15.jpg) 0 0 / cover no-repeat;
      height: 253vw;
   }
}
