.popup {
   position: fixed;
   z-index: 111;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
   opacity: 0;
   visibility: hidden;
   overflow-y: auto;
   overflow-x: hidden;
   transition: all 0.8s ease 0s;
}
.popup.open {
   opacity: 1;
   visibility: visible;
}
.popup.open .popup__content {
   transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
   opacity: 1;
}
.popup__body {
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px 10px;
   transition: all 0.8s ease 0s;
}
.popup__content {
   background-color: #fcfcfc;
   max-width: 520px;
   padding: 40px 60px;
   position: relative;
   border: 1px solid #eaeaea;
   box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.05);
   border-radius: 10px;
   transition: all 0.8s ease 0s;
   opacity: 0;
   transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}
.popup__close {
   position: absolute;
   right: 10px;
   top: 0;
   font-size: 40px;
   color: #000;
   text-decoration: none;
}
.form {
   &__popup {
      &-title {
         font-weight: 500;
         font-size: 24px;
         line-height: 28px;
         text-align: center;
         margin: 0px 0px 25px 0px;
      }
      &-subtitle {
         display: inline-block;
         font-weight: 400;
         font-size: 14px;
         line-height: 16px;
         color: #00000080;
         margin: 0px 0px 25px 0px;
      }
   }
}
.popup {
   &__item {
      margin: 0px 0px 20px 0px;
      &:last-child {
         text-align: center;
         margin: 0px 0px 0px 0px;
      }
   }
   &__label {
      display: block;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #00000080;
      margin: 0px 0px 10px 0px;
   }
   &__input {
      background: #ffffff;
      border: 1px solid #dedede;
      border-radius: 4px;
      width: 100%;
      padding: 10px;
   }
}
.checkbox {
   &__input {
      width: 20px;
      height: 20px;
      margin: 0px 10px 0px 0px;
   }
   &__label {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: #75757580;
      vertical-align: 7px;
      &-link {
         color: #75757580;
         text-decoration: underline;
         margin: 0px 0px 0px 35px;
         &:hover {
            text-decoration: none;
         }
      }
   }
}
@media (max-width: 576px) {
   .popup__content {
      padding: 40px 10px;
   }
   .form {
      &__popup {
         &-title {
            font-size: 20px;
            line-height: 24px;
            margin: 0px 0px 15px 0px;
         }
         &-subtitle {
            margin: 0px 0px 15px 0px;
         }
      }
   }
   .checkbox {
      &__label {
         &-link {
            margin: 0;
         }
      }
   }
   .popup {
      &__form {
         &-btn {
            font-size: 18px;
         }
      }
   }
}
