.lk1c__slider-2,
.lk1c__slider-3 {
   padding: 80px 0px 2px 0px;
}
.mySwiper,
.mySwiper3 {
   height: auto;
   margin: 0px 0px 45px 0px;
}
.mySwiper .swiper-wrapper,
.mySwiper3 .swiper-wrapper {
   flex-wrap: wrap;
}
.mySwiper .swiper-slide {
   background-color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 240px !important;
   height: 40px;
   border: 1px solid #016b45;
   border-radius: 7px;
   margin: 0px 0px 10px 0px;
   opacity: 1;
   cursor: pointer;
}
.mySwiper3 .swiper-slide {
   background-color: #f0f0f0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 240px !important;
   height: 40px;
   border: 1px solid #016b45;
   border-radius: 7px;
   margin: 0px 0px 10px 0px;
   opacity: 1;
   cursor: pointer;
}
.mySwiper .swiper-slide-thumb-active {
   background: #f0f0f0;
}
.mySwiper3 .swiper-slide-thumb-active {
   background-color: #fff;
}
.mySwiper .slide__text,
.mySwiper3 .slide__text {
   display: inline-block;
   font-weight: 500;
   font-size: 14px;
   line-height: 16px;
   text-align: center;
   color: #000000bf;
}
/*--------------Slider2-----------*/
.mySwiper2,
.mySwiper33 {
   height: auto;
   width: 98%;
   margin: 0px auto 30px auto;
}

// .swiper-slide img {
//    display: block;
//    width: 100%;
//    height: 100%;
//    object-fit: cover;
// }
.mySwiper2 img,
.mySwiper33 img {
   width: 100%;
}

.slide__content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   // align-items: center;
}
.slide__content-title {
   display: inline-block;
   font-weight: 700;
   font-size: 30px;
   line-height: 35px;
   color: #000000;
   margin: 0px 0px 10px 0px;
}
.slide__item {
   flex: 0 1 50%;
}
.slide__content-text {
   flex: 0 1 40%;
}
.mySwiper2 .slide__content-bg,
.mySwiper33 .slide__content-bg {
   width: 80%;
}
.my__navigation {
   position: relative;
   text-align: center;
   max-width: 300px;
   height: auto;
   margin: 50px auto 50px auto;
}
.my-button-next,
.my-button-prev,
.my3-button-next,
.my3-button-prev,
.my1-button-next,
.my1-button-prev {
   display: inline-block;
   font-size: 55px;
   font-weight: 500;
   cursor: pointer;
   position: absolute;
}
.my-button-next,
.my3-button-next,
.my1-button-next {
   top: -25px;
   right: 0;
}
.my-button-prev,
.my3-button-prev,
.my1-button-prev {
   top: -25px;
   left: 0;
}
.my-button-prev.swiper-button-disabled,
.my-button-next.swiper-button-disabled,
.my3-button-prev.swiper-button-disabled,
.my3-button-next.swiper-button-disabled,
.my1-button-prev.swiper-button-disabled,
.my1-button-next.swiper-button-disabled {
   opacity: 0.5;
}

.my__pagin .swiper-pagination-bullet,
.my3__pagin .swiper-pagination-bullet,
.my1__pagin .swiper-pagination-bullet {
   width: 12px;
   height: 12px;
   line-height: 20px;
   font-size: 14px;
   background-color: #fff;
   border: 2px solid #016b45;
   opacity: 1;
}

.my__pagin .swiper-pagination-bullet-active,
.my3__pagin .swiper-pagination-bullet-active,
.my1__pagin .swiper-pagination-bullet-active {
   background-color: #016b45;
}

@media (max-width: 992px) {
   .mySwiper .swiper-slide,
   .mySwiper3 .swiper-slide {
      width: 200px !important;
   }

   .slide__item {
      flex: 0 1 100%;
      margin: 0px 0px 40px 0px;
   }

   .slide__content-text {
      flex: 0 1 100%;
   }
}
@media (max-width: 576px) {
   .mySwiper .slide__text,
   .mySwiper3 .slide__text {
      font-size: 10px;
      line-height: 16px;
   }

   .mySwiper .swiper-slide,
   .mySwiper3 .swiper-slide {
      width: 140px !important;
      height: 35px;
   }

   .slide__content-title {
      font-size: 24px;
      line-height: 30px;
   }
}
