@import "reset";
//Общие стили для проекта
body {
   font-family: Roboto, sans-serif;
   background: #ffffff;
   color: #000000;
}

body._lock {
   overflow: hidden;
}

.wrapper {
   max-width: 1920px;
   min-height: 100%;
   margin: 0 auto;
}

.container {
   position: relative;
   max-width: 1320px;
   margin: 0 auto;
   padding: 0 10px;
}

.btn {
   display: inline-block;
   padding: 10px 20px;
   background-color: #016b45;
   border-radius: 10px;
   color: #ffffff;
   font-size: 20px;
   font-weight: 500;
   line-height: 1.5;
   text-transform: uppercase;
   transition: all 0.3s;
   &:hover {
      background-color: darken(#016b45, 10%);
      transition: all 0.3s;
   }
}

.btn.black {
   background-color: #000000;
   border-radius: 6px;
   transition: all 0.3s;
   &:hover {
      background-color: lighten(#000000, 40%);
      transition: all 0.3s;
   }
}

.btn.modal {
   background-color: #ffffff;
   font-size: 14px;
   color: #000000;
   border: 1px solid #016b45;
   border-radius: 7px;
   &:hover {
      background-color: #016b45;
      color: #ffffff;
   }
}

.section__title {
   font-weight: 700;
   font-size: 54px;
   line-height: 1.5;
   color: #000000;
}

.section__subtitle {
   font-weight: 500;
   font-size: 24px;
   line-height: 1.5;
   text-transform: uppercase;
   color: #016b45;
}
.section__num {
   display: inline-block;
   font-weight: 700;
   font-size: 400px;
   color: rgba(0, 0, 0, 0.1);
}

.section__num-title {
   font-weight: 700;
   font-size: 42px;
   line-height: 1.5;
   text-transform: uppercase;
}

.section__num-subtitle {
   display: block;
   font-weight: 700;
   font-size: 42px;
   line-height: 49px;
}
.section__num-descr {
   display: inline-block;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   color: rgba(0, 0, 0, 0.5);
}

@import "header";
@import "offer";
@import "lk-browser";
@import "footer";
@import "control";
@import "work";
@import "browser-chapter-1";
@import "browser-chapter-2";
@import "browser-chapter-3";
@import "browser-chapter-4";
@import "browser-chapter-5";
@import "browser-chapter-6";
@import "profit";
@import "call";
@import "1c-lk";
@import "lk1c-chapter-1";
@import "slider_2";
@import "lk1c-chapter-2";
@import "lk1c__slider-3";
@import "lk1c-chapter-3";
@import "lk1c-chapter-4";
@import "lk1c-chapter-5";
@import "lk1c-chapter-6";
